@import "tailwindcss";

@layer base {
	* {
		font-family: "Teachers", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		scroll-behavior: smooth;
	}
	body {
		@apply bg-white;
	}
}

@theme {
	--color-azure: #0684fe;
	--color-blue: #0364fe;
	--color-vivid-blue: #0433fe;
	--color-success: #4caf50;
	--color-error: #f44336;

	--animate-slide-in: slide-in 300ms ease-in;
	--animate-slide-up: slide-up 300ms ease-out;
}

@utility container {
	@apply max-w-[1440px] mx-auto;
}

@layer components {
	.input {
		@apply border rounded-md px-2 py-2 block w-full outline-none focus-within:border-blue;
	}
}

.fieldWrapper input {
	@apply border rounded-md px-2 py-2 block w-full outline-none focus-within:border-black;
}
.fieldWrapper label {
	display: block;
}

@utility heading {
	@apply text-xl sm:text-2xl text-vivid-blue font-bold mb-2 uppercase;
}

@utility heading-content {
	@apply sm:text-xl text-pretty;
}

@utility heading-container {
	@apply max-w-prose mx-auto text-center;
}

@utility sub-heading {
	@apply text-lg sm:text-xl text-vivid-blue font-bold;
}

.nav-span {
	position: absolute;
	content: "";
	bottom: -5px;
	width: 0px;
	height: 2px;
	border-radius: 3rem;
	background-color: #0433fe;
}

.active-nav {
	color: #0433fe;
}

footer li a {
	position: relative;
}

footer li a::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3px;
	height: 1.5px;
	width: 0;
	background-color: black;
	transition: all 0.3s ease-in-out;
}
footer li a:hover::after {
	width: 100%;
}

@keyframes slide-in {
	from {
		right: -500px;
	}
	to {
		right: 0px;
	}
}

.errorlist {
	@apply text-error;
}

@keyframes slide-up {
	from {
		top: 50px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}

.glass-card {
	backdrop-filter: blur(50px) saturate(180%);
	-webkit-backdrop-filter: blur(50px) saturate(180%);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
