<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/website/css/output.css" />
    <link rel="stylesheet" href="../../static/website/css/swiper.css" />
    <script src="../../static/website/js/swiper.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">

</head>

<body>
    <header id="header"
        class="transition  duration-700 ease-in-out container fixed left-0 right-0 top-2 bg-white max-w-6xl rounded-xl z-[999]">
        <div class="flex h-16 items-center justify-between gap-8 px-4">
            <a class="inline-flex items-center gap-x-2" href="#">
                <img src="../../static/website/media/icon-small.png" class="w-10" />
                <span class="text-base leading-4 font-bold">Technova <br />Institute</span>
            </a>

            <div class="flex items-center ">
                <nav aria-label="Global" class="">
                    <ul class="flex items-center text-sm relative">
                        <span class="nav-span transition-all duration-400 ease-out"></span>
                        <li>
                            <a class="font-medium nav-links px-2 active-nav" href="#"> Home </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links px-2" href="#"> About </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links px-2" href="#"> Tutors </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links px-2" href="#"> Courses </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links px-2" href="#"> Contact </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links px-2" href="#"> Blogs </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <button id="boon_now_btn" class="group cursor-pointer rounded-xl bg-blue text-white font-medium px-4 py-2"
                href="#">
                Book Your Demo Class
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
            </button>

        </div>
    </header>

    <section class="mt-20 bg-vivid-blue/80 container rounded-3xl relative overflow-hidden">
        <img src="../../static/website/media/math.png" class="absolute inset-0 w-full -z-10" />
        <div class="max-w-prose text-white p-10 text-pretty text-center mx-auto">
            <p class="font-medium uppercase tracking-widest">
                about
            </p>

            <p class="text-5xl leading-14 font-bold">Innovate. Inspire. Impact.</p>

            <!-- <p class="text-pretty">
                At JS Technova Institute, we believe that every child deserves access to high-quality, personalized
                education,
                regardless of their location. We are a leading online tutoring platform dedicated to fostering a love
                for learning and
                helping students achieve their full academic potential. Our innovative approach combines expert
                educators with
                cutting-edge technology to create an engaging and effective learning experience.

                Founded on the principles of excellence and accessibility, JS TechnoVa Institute is committed to
                providing a supportive
                and interactive environment where students can thrive. We offer a wide range of subjects, from
                foundational mathematics
                and science to advanced coding, all delivered through a flexible and convenient online format.
            </p> -->
        </div>
    </section>


    <footer class="container bg-blue rounded-3xl text-white my-8 shadow-2xl py-20">
        <div class="max-w-6xl mx-auto">

            <div class="">
                <div class="grid grid-cols-2">
                    <div class="">
                        <a class="inline-flex items-center gap-x-2" href="#">
                            <img src="../../static/website/media/icon-small.png" class="w-20" />
                            <span class="text-4xl leading-8 font-bold">Technova <br />Institute</span>
                        </a>
                        <div class="text-2xl mt-2">
                            Innovate. Inspire. Impact.
                        </div>
                    </div>

                    <div class="">
                        <h2 class="text-2xl font-medium">Get Latest Updates and Offers!</h2>
                        <form class="w-full mt-4">
                            <label for="UserEmail" class="flex border border-white rounded-lg">
                                <input type="email" id="UserEmail" placeholder="john@rhcp.com"
                                    class="p-4 outline-none grow" />
                                <button class="bg-white text-blue font-semibold rounded-lg px-8 m-0.5 cursor-pointer">
                                    Submit
                                </button>
                            </label>
                        </form>

                    </div>

                </div>
            </div>

            <div class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-3">
                <div>
                    <p class="font-medium">Services</p>

                    <ul class="mt-6 space-y-4 text-sm">
                        <li>
                            <a href="#"> 1on1 Coaching </a>
                        </li>

                        <li>
                            <a href="#"> Company Review </a>
                        </li>

                        <li>
                            <a href="#"> Accounts Review </a>
                        </li>

                        <li>
                            <a href="#"> HR Consulting </a>
                        </li>

                        <li>
                            <a href="#"> SEO Optimisation </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="font-medium">Company</p>

                    <ul class="mt-6 space-y-4 text-sm">
                        <li>
                            <a href="#"> About </a>
                        </li>

                        <li>
                            <a href="#"> Meet the Team </a>
                        </li>

                        <li>
                            <a href="#"> Accounts Review </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="font-medium ">Helpful Links</p>

                    <ul class="mt-6 space-y-4 text-sm">
                        <li>
                            <a href="#"> Contact </a>
                        </li>

                        <li>
                            <a href="#"> FAQs </a>
                        </li>

                        <li>
                            <a href="#"> Live Chat </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mt-8 border-t border-gray-100 pt-8">
                <ul class="flex flex-wrap gap-4 text-xs">
                    <li>
                        <a href="#"> Terms & Conditions </a>
                    </li>

                    <li>
                        <a href="#"> Privacy Policy </a>
                    </li>

                    <li>
                        <a href="#"> Cookies </a>
                    </li>
                </ul>

                <p class="mt-8 text-xs">&copy; 2022. Company Name. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

<script src="../../static/website/js/main.js"></script>

</html>