{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>JS Technova Institute</title>
    {% endblock %}
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="theme-color" content="#0433fe">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="JS Technova Institute">
    <meta property="og:description"
        content="JS Technova Institute offers expert one-on-one online tutoring for Class 1-10 students (ICSE, CBSE, UP Board).">
    <meta property="og:image" content="{% static 'website/media/favicon.png' %}">
    <meta property="og:url" content="https://institute.jstechnova.in">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="{% static 'website/css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/swiper.css' %}" />
    <script src="{% static 'website/js/swiper.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'website/media/favicon.png' %}" />
    <meta name="description"
        content="JS Technova Institute offers expert one-on-one online tutoring for Class 1-10 students (ICSE, CBSE, UP Board). Flexible schedules, demo classes available with certified tutors. Book your free demo today!">
    <meta name="keywords"
        content="online tutoring, ICSE tutoring, CBSE tutoring, UP Board tutoring, Class 1 to 10 coaching, one-on-one online coaching, demo class, flexible schedule, expert tutors, js technova, best institute, best coaching, best tutoring site, js technova institute">
    <meta name="author" content="JS Technova">

</head>

<body>

    {% include 'website/components/header.html' %}

    <section class="px-2 lg:px-4 xl:px-0">
        {% block content %}
        {% endblock %}
    </section>


    <div id="fixed-demo-btn"
        class="fixed bottom-2 transition-all duration-700 ease-in-out translate-y-[100px] left-2 right-2 mx-auto max-w-md bg-radial border border-white shadow from-blue to-azure ps-4 p-2 rounded-full text-white flex items-center justify-between z-50">
        <h2 class="md:text-xl font-black">🚀 Hurry Up!! </h2>
        <a id="boon_now_btn" class="group cursor-pointer rounded-full bg-white text-blue font-semibold px-4 py-2"
            href="{% url 'BookDemoClass' %}">
            Book Your Demo Class
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>


    {% if messages %}
    {% include 'website/components/NotificationModal.html' %}
    {% endif %}

    {% include 'website/components/footer.html' %}

</body>
<script src="{% static 'website/js/main.js' %}"></script>
{% block script %}
{% endblock %}

</html>