<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/website/css/output.css" />
    <link rel="stylesheet" href="../../static/website/css/swiper.css" />
    <script src="../../static/website/js/swiper.js"></script>

</head>

<body>
    <header id="header"
        class="transition duration-700 ease-in-out container fixed left-0 right-0 top-2  max-w-screen-lg saturate-200 backdrop-blur-3xl bg-blue/15 rounded-lg border border-white/50 z-[9999999] px-4">
        <div class="flex h-16 items-center justify-between gap-8 px-4">
            <a class="inline-flex items-center gap-x-2" href="#">
                <img src="../../static/website/media/icon-small.png" class="w-10" />
                <span class="text-base leading-4 font-bold">Technova <br />Institute</span>
            </a>

            <div class="flex items-center gap-4">
                <nav aria-label="Global" class="">
                    <ul class="flex items-center gap-4 text-sm relative">
                        <span class="nav-span transition-all duration-400 ease-out"></span>
                        <li>
                            <a class="font-medium nav-links active-nav" href="#"> About </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links" href="#"> Careers </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links" href="#"> History </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links" href="#"> Services </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links" href="#"> Projects </a>
                        </li>

                        <li>
                            <a class="font-medium nav-links" href="#"> Blog </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="grid bg-cover min-h-lvh bg-no-repeat bg-center pt-20 pb-10 rounded-b-3xl"
        style="background-image: url(../../static/website/media/bg.png);">
        <div class="container grid grid-cols-2 items-center gap-4">
            <div class="max-w-prose text-left space-y-4">
                <div>
                    <img src="../../static/website/media/icon-main.png" class="w-40" />
                    <!-- <h1 class="text-5xl font-bold">
                        JS Technova Institute
                    </h1> -->
                </div>

                <div class="text-pretty">
                    <p>
                        <strong>JS Technova Institute:</strong> The future of online tutoring. We
                        provide expert,
                        personalized
                        instruction to help students
                        master new skills and excel academically.
                    </p>
                    <p>
                        Master every subject, from anywhere. JS TechnoVa Institute connects your child with top tutors
                        for a flexible and
                        impactful online learning experience.
                    </p>
                </div>

                <div class="flex gap-4 sm:mt-6">
                    <a class="inline-block group rounded border border-blue bg-blue text-white px-5 py-3 font-medium transition-all hover:scale-105 duration-300"
                        href="#">
                        Get Started

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-300">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>

                    </a>

                    <a class="inline-block rounded border border-blue px-5 py-3 font-medium group" href="#">
                        Learn More
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-300">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="h-full max-h-[800px]">
                <img src="../../static/website/media/teacher.png" class="aspect-auto h-full mx-auto" />
            </div>

        </div>
    </section>


    <section class="container">
        <div class="grid grid-cols-3 mt-8">

            <div class="flex flex-col lg:flex-row  lg:p-2 items-center justify-center border-r-2 border-blue/50">
                <div class="w-12 lg:w-16 lg:me-3">
                    <img src="../../static/website/media/icse.png" class="h-full w-full object-contain " />
                </div>
                <div>
                    <h3 class="font-medium text-lg lg:text-xl text-center lg:text-start roboto text-[#5A4BDA]">ICSE</h3>
                    <p class="text-[10px] lg:text-sm text-center">9th, 10th, 11th, 12th</p>
                </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:p-2 items-center justify-center border-r-2 border-blue/50">
                <div class="w-12 lg:w-16 lg:me-3">
                    <img src="../../static/website/media/cbse board.png" class="h-full w-full object-contain" />
                </div>
                <div>
                    <h3 class="font-medium text-lg lg:text-xl text-center lg:text-start roboto text-[#5A4BDA]">CBSE</h3>
                    <p class="text-[10px] lg:text-sm text-center">9th, 10th, 11th, 12th</p>
                </div>
            </div>


            <div class="flex flex-col lg:flex-row lg:p-2 items-center justify-center">
                <div class="w-12 lg:w-16 lg:me-3">
                    <img src="../../static/website/media/up board.png" class="h-full w-full object-contain" />
                </div>
                <div>
                    <h3 class="font-medium text-lg lg:text-xl text-center lg:text-start roboto text-[#5A4BDA]">UP BOARD
                    </h3>
                    <p class="text-[10px] lg:text-sm text-center">9th, 10th, 11th, 12th</p>
                </div>
            </div>
        </div>

        <div class="mt-16">
            <div>
                <h1 class="text-xl text-red font-medium mb-2">Discover The Benefits ✨</h1>
                <p class="text-2xl max-w-prose font-bold">We provide a premium online tutoring experience designed
                    specifically
                    for
                    children, helping them
                    build confidence and master new skills from the comfort of your own home.
                </p>
            </div>
            <div class="grid lg:grid-cols-3 mt-12 gap-4">

                <div
                    class="border group border-green/20 flex flex-col items-start gap-3 p-8  rounded-md transition-colors duration-200">
                    <div class="bg-green/50  rounded-md text-4xl size-16 place-content-center text-center">
                        ☺️
                    </div>
                    <h3 class="font-medium text-md text-xl">Personalized Learning, Just for Them</h3>
                    <p class="">We know every child is unique. Our expert tutors take the time to
                        understand your child's individual learning style and
                        pace.
                    </p>

                </div>

                <div
                    class="border border-green/20 flex flex-col items-start gap-3 p-8  rounded-md transition-colors duration-200">
                    <div class="bg-green/50  rounded-md text-4xl size-16 place-content-center text-center">
                        ☺️
                    </div>
                    <h3 class="font-medium text-md text-xl">One-to-one Sessions</h3>
                    <p class="">With our one-on-one sessions, your child gets the undivided attention they deserve,
                        ensuring they grasp every concept
                        thoroughly.
                    </p>
                </div>


                <div
                    class="border border-green/20 flex flex-col items-start gap-3 p-8  rounded-md transition-colors duration-200">
                    <div class="bg-green/50  rounded-md text-4xl size-16 place-content-center text-center">
                        ☺️
                    </div>
                    <h3 class="font-medium text-md text-xl">The Best Tutors, Anywhere You Are</h3>
                    <p class="">We believe that a great education knows no boundaries. Our tutors are not just subject
                        matter experts; they are trained educators who know how to make learning engaging and
                        enjoyable for children.
                    </p>
                </div>


                <div
                    class="border border-green/20 flex flex-col items-start gap-3 p-8  rounded-md transition-colors duration-200">
                    <div class="bg-green/50  rounded-md text-4xl size-16 place-content-center text-center">
                        ☺️
                    </div>
                    <h3 class="font-medium text-md text-xl">Flexible Scheduling to Fit Your Family's Life</h3>
                    <p class="">Juggling family schedules can be tough. Say goodbye to rushed after-school commutes! Our
                        sessions are available at times that work for you, including evenings
                        and weekends.
                    </p>
                </div>


                <div
                    class="border border-green/20 flex flex-col items-start gap-3 p-8  rounded-md transition-colors duration-200">
                    <div class="bg-green/50  rounded-md text-4xl size-16 place-content-center text-center">
                        ☺️
                    </div>
                    <h3 class="font-medium text-md text-xl">A Boost in Confidence and Grades</h3>
                    <p class="">Our primary goal is to empower your child. Through our supportive and positive learning
                        environment, your child will
                        feel comfortable asking questions and making mistakes.
                    </p>
                </div>


                <div
                    class="border border-green/20 flex flex-col items-start gap-3 p-8  rounded-md transition-colors duration-200">
                    <div class="bg-green/50  rounded-md text-4xl size-16 place-content-center text-center">
                        ☺️
                    </div>
                    <h3 class="font-medium text-md text-xl">Peace of Mind for Parents</h3>
                    <p class="">We provide a transparent and secure learning environment. You can access session notes
                        and progress reports to stay
                        informed about your child's development.
                </div>




            </div>
        </div>

        <div class="mt-16  max-w-5xl mx-auto">

            <div class="grid grid-cols-8 grid-rows-6 gap-4">
                <div class="col-span-4 row-span-6 shadow-2xl rounded-xl p-8">
                    <div class="mb-8">
                        <h1 class="text-lg text-red font-medium mb-2">Get In Touch</h1>
                        <p class="text-2xl max-w-prose font-bold">Book Your Demo Class ☎️</p>
                    </div>

                    <form class="grid grid-cols-1 gap-4">

                        <label class="me-5">
                            <span>Name</span>
                            <input class="input" placeholder="Name" />
                        </label>

                        <label class="me-5">
                            <span>Email</span>
                            <input class="input" placeholder="Name" />
                        </label>

                        <label class="me-5">
                            <span>Phone</span>
                            <input class="input" placeholder="Name" />
                        </label>

                        <label class="me-5">
                            <span>Class</span>
                            <input class="input" placeholder="Name" />
                        </label>


                        <div class="w-full ">
                            <label>
                                <input type="checkbox"> <span>I agree to <span class="text-[#5A4BDA]">Terms &
                                        Conditions</span></span>
                            </label>
                        </div>

                        <div class="flex md:flex-col ">
                            <button class="rounded-md bg-blue px-5 py-3 font-medium">Submit</button>
                        </div>

                    </form>
                </div>
                <div class="col-span-4 row-span-4 col-start-5 rounded-xl overflow-hidden">
                    <img src="../../static/website/media/councellor.jpg" class="drop-shadow-2xl" />
                </div>
                <div class=" col-span-4 row-span-2 col-start-5 row-start-5 shadow-2xl rounded-xl p-8">
                    asdfasdf
                </div>
            </div>


        </div>
    </section>


    <div class="mt-16 bg-blue rounded-3xl shadow-xl">
        <div class="container py-20 flex gap-4">
            <div class="w-1/3 place-content-center">
                <img src="../../static/website/media/expert-teacher.png" class="w-2xs" />
                <h1 class="text-4xl text-white font-bold mb-2">Our Team of Certified Tutors
                </h1>
            </div>

            <div class="swiper mySwiper w-2/3 rounded-3xl ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="group/tutors relative block bg-black aspect-[3/4] rounded-3xl overflow-hidden w-xs">
                            <img alt=""
                                src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80"
                                class="h-full w-full object-cover object-top" />

                            <div class="absolute bottom-4 left-4 right-4 p-4 bg-white rounded-lg">
                                <p
                                    class="text-xs absolute -top-2.5 tracking-widest text-white py-0.5 px-1 bg-red inline-block rounded-md uppercase">
                                    Mathematics</p>
                                <p class="text-xl font-bold tracking-wider uppercase">Shubham Chauhan
                                </p>
                                <p
                                    class="h-0 overflow-hidden group-hover/tutors:h-32 transition-all ease-out duration-300">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur distinctio
                                    provident nobis
                                    in sint saepe inventore velit quos veniam ducimus.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="group/tutors relative block bg-black aspect-[3/4] rounded-3xl overflow-hidden w-xs">
                            <img alt=""
                                src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80"
                                class="h-full w-full object-cover object-top" />

                            <div class="absolute bottom-4 left-4 right-4 p-4 bg-white rounded-lg">
                                <p
                                    class="text-xs absolute -top-2.5 tracking-widest text-white py-0.5 px-1 bg-red inline-block rounded-md uppercase">
                                    Mathematics</p>
                                <p class="text-xl font-bold tracking-wider uppercase">Shubham Chauhan
                                </p>
                                <p
                                    class="h-0 overflow-hidden group-hover/tutors:h-32 transition-all ease-out duration-300">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur distinctio
                                    provident nobis
                                    in sint saepe inventore velit quos veniam ducimus.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="group/tutors relative block bg-black aspect-[3/4] rounded-3xl overflow-hidden w-xs">
                            <img alt=""
                                src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80"
                                class="h-full w-full object-cover object-top" />

                            <div class="absolute bottom-4 left-4 right-4 p-4 bg-white rounded-lg">
                                <p
                                    class="text-xs absolute -top-2.5 tracking-widest text-white py-0.5 px-1 bg-red inline-block rounded-md uppercase">
                                    Mathematics</p>
                                <p class="text-xl font-bold tracking-wider uppercase">Shubham Chauhan
                                </p>
                                <p
                                    class="h-0 overflow-hidden group-hover/tutors:h-32 transition-all ease-out duration-300">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur distinctio
                                    provident nobis
                                    in sint saepe inventore velit quos veniam ducimus.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="group/tutors relative block bg-black aspect-[3/4] rounded-3xl overflow-hidden w-xs">
                            <img alt=""
                                src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80"
                                class="h-full w-full object-cover object-top" />

                            <div class="absolute bottom-4 left-4 right-4 p-4 bg-white rounded-lg">
                                <p
                                    class="text-xs absolute -top-2.5 tracking-widest text-white py-0.5 px-1 bg-red inline-block rounded-md uppercase">
                                    Mathematics</p>
                                <p class="text-xl font-bold tracking-wider uppercase">Shubham Chauhan
                                </p>
                                <p
                                    class="h-0 overflow-hidden group-hover/tutors:h-32 transition-all ease-out duration-300">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur distinctio
                                    provident nobis
                                    in sint saepe inventore velit quos veniam ducimus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="py-12 flex flex-col bg-cover bg-no-repeat bg-fixed bg-center"
        style="background-image: url(../../static/website/media/bg-shapes.jpg);">

        <div class="container">
            <div class="">
                <h1 class="text-xl text-red font-medium mb-2">Student Feedback ❤️</h1>
                <p class="text-2xl font-bold">
                    Hear directly from our students! Their feedback is the heart of what we do. We're proud to share
                    their
                    stories of
                    success, newfound confidence, and love for learning.</p>
            </div>

            <div class="feedbacks">
                <div class="flex gap-8 items-center mt-8">
                    <img src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80"
                        class="h-96 aspect-[4/3] rounded-3xl object-cover object-top" />

                    <div class="">
                        <p class="text-5xl opacity-50">″</p>
                        <p class="max-w-prose font-medium relative feedback-para">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing
                            elit.
                            Architecto,
                            mollitia
                            fuga quas
                            tempore beatae dicta corrupti possimus assumenda veniam perferendis!</p>
                        <p class="text-5xl text-right opacity-50">″</p>
                        <h1 class="text-2xl font-bold">Shubham chauhan</h1>
                        <p>Ind</p>
                    </div>
                </div>
            </div>

            <div class="flex justify-end gap-4">
                <button class="text-4xl cursor-pointer">⬅️</button>
                <button class="text-4xl cursor-pointer">➡️</button>
            </div>

        </div>
    </div>

    <footer class="bg-blue rounded-t-3xl text-white">
        <div class="container">

            <div class="py-8 lg:py-16 lg:pe-16">
                <div class="grid grid-cols-2">
                    <div class="">
                        <a class="inline-flex items-center gap-x-2" href="#">
                            <img src="../../static/website/media/icon-small.png" class="w-20" />
                            <span class="text-4xl leading-8 font-bold">Technova <br />Institute</span>
                        </a>
                        <div class="text-2xl mt-2">
                            Innovate. Inspire. Impact.
                        </div>
                    </div>

                    <div class="">
                        <h2 class="text-2xl font-medium">Get Latest Updates and Offers!</h2>
                        <form class="w-full mt-4">
                            <label for="UserEmail" class="flex border border-white rounded-lg">
                                <input type="email" id="UserEmail" placeholder="john@rhcp.com"
                                    class="p-4 outline-none grow" />
                                <button class="bg-red rounded-lg px-8 m-0.5 cursor-pointer">
                                    Submit
                                </button>
                            </label>
                        </form>

                    </div>

                </div>
            </div>

            <div class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-3">
                <div>
                    <p class="font-medium text-black">Services</p>

                    <ul class="mt-6 space-y-4 text-sm">
                        <li>
                            <a href="#"> 1on1 Coaching </a>
                        </li>

                        <li>
                            <a href="#"> Company Review </a>
                        </li>

                        <li>
                            <a href="#"> Accounts Review </a>
                        </li>

                        <li>
                            <a href="#"> HR Consulting </a>
                        </li>

                        <li>
                            <a href="#"> SEO Optimisation </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="font-medium text-gray-900">Company</p>

                    <ul class="mt-6 space-y-4 text-sm">
                        <li>
                            <a href="#"> About </a>
                        </li>

                        <li>
                            <a href="#"> Meet the Team </a>
                        </li>

                        <li>
                            <a href="#"> Accounts Review </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="font-medium text-gray-900">Helpful Links</p>

                    <ul class="mt-6 space-y-4 text-sm">
                        <li>
                            <a href="#"> Contact </a>
                        </li>

                        <li>
                            <a href="#"> FAQs </a>
                        </li>

                        <li>
                            <a href="#"> Live Chat </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mt-8 border-t border-gray-100 pt-8">
                <ul class="flex flex-wrap gap-4 text-xs">
                    <li>
                        <a href="#"> Terms & Conditions </a>
                    </li>

                    <li>
                        <a href="#"> Privacy Policy </a>
                    </li>

                    <li>
                        <a href="#"> Cookies </a>
                    </li>
                </ul>

                <p class="mt-8 text-xs text-gray-500">&copy; 2022. Company Name. All rights reserved.</p>
            </div>
        </div>
        </div>
    </footer>
</body>

<script src="../../static/website/js/main.js"></script>

</html>