{% extends 'website/base.html' %}
{% load static %}
{% block content %}

<div class="mt-20  container rounded-3xl grid lg:grid-cols-2 gap-20">
    <div class="text-center place-content-center mx-auto p-12 bg-vivid-blue/20 rounded-3xl space-y-4">


        <p class="font-medium uppercase tracking-widest">
            Join Our Team
        </p>

        <p class="text-5xl leading-14 font-bold text-vivid-blue">Empower the Next Generation</p>

        <p class="text-pretty">
            Are you a passionate educator looking to make a real impact from anywhere in the world? At JS
            TechnoVa Institute, we're
            building a vibrant community of dedicated teachers who are shaping the future of online learning. If
            you're ready to
            inspire, innovate, and grow, we invite you to become a part of our dynamic faculty.
        </p>

        <a class="group rounded-3xl bg-blue text-white px-8 inline-block mt-4 py-3 font-medium cursor-pointer"
            href="#join">
            Join Us
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-200">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>

    <div class="">
        <img src="../../static/website/media/teacher.png" class="aspect-auto h-full mx-auto" />
    </div>


    <div class="place-content-center space-y-4">
        <p class="font-medium text-2xl uppercase tracking-widest">
            Your Scope for Impact
        </p>
        <p class="text-pretty">
            At JS TechnoVa Institute, your teaching potential is limitless. You'll have the opportunity to:
        </p>

        <ul class="list-inside list-decimal space-y-4">
            <li>
                Specialize in Your Passion: Teach subjects you love, from foundational mathematics and physics to
                advanced coding and
                beyond.
            </li>
            <li>
                Personalize Learning: Deliver tailored one-on-one or small-group sessions, adapting your approach to
                meet each student's
                unique needs and learning style.
            </li>
            <li>Witness Growth: Experience the immense satisfaction of seeing your students grasp challenging
                concepts, build
                confidence, and achieve their academic goals.</li>
        </ul>

        <p class="font-medium text-2xl uppercase tracking-widest">
            Ready to Inspire?
        </p>
        <p class="text-pretty">
            If you're a certified teacher with a passion for online education and a commitment to student
            excellence, we
            want to
            hear from you! Take the next step in your teaching career and become a part of the JS TechnoVa Institute
            family. </p>


    </div>

    <div id="join" class="p-12 bg-vivid-blue/10 rounded-3xl space-y-4 mb-12">
        <h1 class="font-bold text-2xl">Join Us</h1>
        <form class="flex flex-col gap-y-4 mt-8" method="post" action="{% url 'tutors' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in tutor_reg_form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <label>
                <input type="checkbox" required />
                <span>I agree to be contacted by JS Technova Institute with information about my
                    request</span>
            </label>

            <button class="group rounded-3xl bg-blue text-white px-8 py-3 font-medium cursor-pointer" href="#">
                Send

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-200">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>

            </button>
        </form>
    </div>

</div>

{% endblock %}