{% load static %}
<footer class="container bg-blue rounded-3xl text-white mb-8 shadow-2xl py-20 px-4 lg:px-0">
    <div class="max-w-6xl mx-auto space-y-12">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-0">
            <div class="">
                <a class="inline-flex items-center gap-x-2" href="#">
                    <img src="{% static 'website/media/icon-small.png' %}" class="w-20" />
                    <span class="text-4xl leading-8 font-bold">Technova <br />Institute</span>
                </a>
                <div class="text-2xl mt-2">
                    Innovate. Inspire. Impact.
                </div>
            </div>

            <div class="">
                <h2 class="text-2xl font-medium">Get Latest Updates and Offers!</h2>
                <form class="w-full mt-4">
                    <label for="UserEmail" class="flex border border-white rounded-lg">
                        <input type="email" id="UserEmail" placeholder="john@rhcp.com" class="p-4 outline-none grow" />
                        <button class="bg-white text-blue font-semibold rounded-lg px-8 m-0.5 cursor-pointer">
                            Submit
                        </button>
                    </label>
                </form>

            </div>

        </div>

        <div class="grid grid-cols-2 gap-8 sm:grid-cols-3">
            <div>
                <p class="font-medium">Services</p>

                <ul class="mt-6 space-y-4 text-sm">
                    <li>
                        <a href="#"> 1on1 Coaching </a>
                    </li>
                </ul>
            </div>

            <div>
                <p class="font-medium">Company</p>

                <ul class="mt-6 space-y-4 text-sm">
                    <li>
                        <a href="#"> About </a>
                    </li>
                </ul>
            </div>

            <div>
                <p class="font-medium ">Helpful Links</p>

                <ul class="mt-6 space-y-4 text-sm">
                    <li>
                        <a href="#"> Contact </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="border-t border-gray-100 pt-8">
            <ul class="flex flex-wrap gap-4 text-xs">
                <li>
                    <a href="#"> Terms & Conditions </a>
                </li>

                <li>
                    <a href="#"> Privacy Policy </a>
                </li>

                <li>
                    <a href="#"> Cookies </a>
                </li>
            </ul>

            <p class="mt-8 text-xs">&copy; 2022. Company Name. All rights reserved.</p>
        </div>
    </div>
</footer>