{% load static %}

<header id="header"
    class="transition duration-700 ease-in-out container fixed left-0 right-0 top-2 bg-white max-w-6xl rounded-xl z-[999]">
    <div class="flex h-16 items-center justify-between gap-8 px-4">
        <a class="inline-flex items-center gap-x-2 shrink-0" href="/">
            <img src="{% static 'website/media/icon-small.png' %}" class="w-10" />
            <span class="text-base leading-4 font-bold">Technova <br />Institute</span>
        </a>

        <div class="md:flex items-center hidden">
            <nav aria-label="Global" class="">
                <ul class="flex items-center text-sm relative">
                    <span class="nav-span transition-all duration-400 ease-out"></span>
                    <li>
                        <a class="font-medium nav-links px-2 active-nav" href="/"> Home </a>
                    </li>

                    <li>
                        <a class="font-medium nav-links px-2" href="/about"> About </a>
                    </li>

                    <li>
                        <a class="font-medium nav-links px-2" href="/tutors"> Join Us </a>
                    </li>

                    <li>
                        <a class="font-medium nav-links px-2" href="/"> Courses </a>
                    </li>

                    <li>
                        <a class="font-medium nav-links px-2" href="/#contact"> Contact </a>
                    </li>

                    <li>
                        <a class="font-medium nav-links px-2" href="#"> Blogs </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="flex items-center gap-x-4">
            <a href="{% url 'BookDemoClass' %}"
                class="group cursor-pointer rounded-xl bg-blue text-white font-medium px-4 py-2 hidden sm:block">
                Book Your Demo Class
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
            </a>

            <button id="side_menu_btn" class="cursor-pointer rounded-xl font-black px-4 py-2  md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>

    </div>

</header>

<div id="side_menu_drawer" class="fixed inset-0 py-20 z-[999] bg-black/50 backdrop-blur-xs flex justify-end hidden">
    <div class="h-full flex justify-between flex-col bg-white p-8 rounded-l-3xl relative animate-slide-in">
        <ul class="text-right space-y-4">
            <li>
                <a class="font-medium" href="/"> Home </a>
            </li>

            <li>
                <a class="font-medium" href="/about"> About </a>
            </li>

            <li>
                <a class="font-medium" href="/tutors"> Join Us </a>
            </li>

            <li>
                <a class="font-medium" href="#"> Courses </a>
            </li>

            <li>
                <a class="font-medium" href="/#contact"> Contact </a>
            </li>

            <li>
                <a class="font-medium" href="#"> Blogs </a>
            </li>
        </ul>

        <a href="{% url 'BookDemoClass' %}" id="boon_now_btn"
            class="group cursor-pointer rounded-xl bg-blue text-white text-sm font-medium px-2 py-1">
            Book Your Demo Class
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 inline-block w-0 group-hover:w-6 transition-all duration-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </a>
    </div>


</div>