<div id="st_feedback" class="flex flex-col md:flex-row gap-8 md:gap-12 lg:gap-20 items-center hidden">
    <img src="{{feedback.image.url}}" class="h-72 lg:h-96 aspect-[5/4] rounded-3xl object-cover object-top" />
    <div class="">
        <p class="text-5xl opacity-50 leading-5">″</p>
        <p class="max-w-prose font-medium relative feedback-para text-pretty">{{feedback.message}}</p>
        <p class="text-5xl text-right opacity-50">″</p>
        <h1 class="">{{feedback.name}}</h1>
        <p class="text-sm">{{feedback.country}}</p>
    </div>
</div>